body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgba(228, 202, 168, 0.406);
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
    border: 0;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

input,
textarea,
select {
    width: 100%;
    margin: 10px 0 0;
}

h1,
p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}

label {
    display: block;
    margin: 0.5rem 0;
}

textarea {
    color: green;
}

.inline {
    background-color: orangered;
}